
            <section id="create-cast">
                <div class="createCastSection">
                    <div class="info-cast">
                        <h2>"You're gonna need a bigger boat." — "Jaws," 1975.</h2>
                    </div>

                    <form action="#" method="" class="createCastForm">
                        <h2>Add Team</h2>
                        <ul class="noBullet">
                            <li>
                                <label for="name">Name:</label>
                                <input type="text" class="inputFields" id="name" name="name"/>
                            </li>
                            <li>
                                <label for="age">Age:</label>
                                <input type="number" class="inputFields" id="age" name="age"/>
                            </li>
                            <li>
                                <label for="born">Established:</label>
                                <input type="text" class="inputFields" id="born" name="established"/>
                            </li>
                            <li>
                                <label for="name-in-movie">Name in Movie:</label>
                                <input type="text" class="inputFields" id="name-in-movie" name="" disabled/>
                            </li>
                            <li>
                                <label for="image">Team Logo:</label>
                                <input type="text" class="inputFields" id="image" name="ImageUrl"/>
                            </li>
                            <li id="center-btn">
                                <button id="create-btn">Add Team</button>
                            </li>
                        </ul>
                    </form>

                </div>
            </section>