
            <div class="full-screen">
                <div class='about'>
                    <div class="contact-img">
                        <img src="./static/img/logo.jpeg">
                    </div>

                    <div class="about-contact">
                        <div id="first">
                            <h1>Address:</h1>
                            <div id="address">
                                <p>London, Stamford Bridge</p>
                                <p>Stamford Bridge Boulevard 78</p>
                            </div>
                        </div>
                        <div id="second">
                            <h1>Contacts:</h1>
                            <div id="contacts">
                                <p>+ 359 899 55 55 92 </p>
                                <p>footballclub@chelsea.fc</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>