
            <section id="create-page">
                <div class="createSection">
                    <div class="info">
                        <h2>"Today, I consider myself the luckiest man on the face of the earth." -The Pride of the Yankees, 1942</h2>
                    </div>

                    <form action="#" method="" class="createForm">
                        <h2>Add Player</h2>
                        <ul class="noBullet">
                            <li>
                                <label for="name">Name:</label>
                                <input type="text" class="inputFields" id="name" name="name" value="" />
                            </li>
                            <li>
                                <label for="position">Position:</label>
                                <select id="position" class="inputFields" name="position">
                                    <option value="">Select Position</option>
                                    <option value="Goalkeeper">Goalkeeper</option>
                                    <option value="animation">Defender</option>
                                    <option value="movie">Midfield</option>
                                    <option value="documentary">Forward</option>
                                </select>
                            </li>
                            <li>
                                <label for="team">Current Team:</label>
                                <input type="text" class="inputFields" id="team" name="team" value="" />
                            </li>
                            <li>
                                <label for="headcoach">Headcoach:</label>
                                <input type="text" class="inputFields" id="headcoach" name="headcoach" value="" />
                            </li>
                            <li>
                                <label for="years">Years Old:</label>
                                <input type="number" class="inputFields" id="years" name="years" value="" />
                            </li>
                            <li>
                                <label for="image">Player Poster:</label>
                                <input type="text" class="inputFields" id="image" name="" value="" />
                            </li>
                            <li>
                                <label for="image">Rating:</label>
                                <input type="text" class="inputFields" id="rating" name="" value="" />
                            </li>
                            <li>
                                <label for="description">Description:</label>
                                <textarea id="description" class="inputFields" name="description"></textarea>
                            </li>
                         
                            <li id="center-btn">
                                <button id="create-btn">Add Player</button>
                            </li>
                        </ul>
                    </form>
                    

                </div>
            </section>