
            <section id="catalog">
                <h1>All Players</h1>
                <div class="band">

                    {{#each players}}
                        {{>player}}
                    {{else}}
                        <div class="no-posts">
                            <p class="no-offer">There are no players yet...</p>
                        </div>
                    {{/each}}
                </div>
            </section>