
            <section id="search">
                <h1>Search Players</h1>
                <form action="/players/search" method="GET" class="form">
                    <input type="text" class="search" name="search" value="{{filter.search}}" placeholder="Name...">
                    <input type="text" name="team" class="genre" value="{{filter.team}}" placeholder="Current Team...">
                    <input type="number" name="years" class="year" value="{{filter.years}}" placeholder="Years old...">
                    <input type="submit" value="search">
                </form>
            </section>

            <section id="catalog">
                <div class="band">
                    
                    {{#each players}}
                        {{>player}}
                    {{else}}
                        <div class="no-posts">
                            <p class="no-offer">There are no players yet...</p>
                        </div>
                    {{/each}}
                </div>
            </section>